<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JST</string>
	<key>ordering</key>
	<array>
		<string>EE010527-DCAD-4DD6-8074-E49D82CDB94B</string>
		<string>F50EC71F-FCE6-4E15-9EEA-B1C7DEA1D458</string>
		<string>5933CE0D-8C31-46C5-9892-6F9F01D34E12</string>
		<string>A9D1DB26-72E8-47FA-BDF0-E84F3816C149</string>
	</array>
	<key>uuid</key>
	<string>7AF579C0-2A88-430F-9FF3-BE98BAA4B09E</string>
</dict>
</plist>
